.popup__container {
  position: relative;
  width: 430px;
  height: 330px;
  display: flex;
  flex-direction: column;
  gap: 48px;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
  background-color: #fff;
}

@media screen and (max-width: 580px) {
  .popup__container {
    width: 282px;
    height: 322px;
  }
}
