.header {
  margin: 0 auto;
  max-width: 880px;
  padding: 45px 0 41px;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}

@media screen and (max-width: 580px) {
  .header {
    padding: 29px 0 32px 27px;
    max-width: 293px;
  }
}
