.element {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border-radius: 10px;
  background: #fff;
  height: 361px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
